.history {
  margin: 70px 50px;
  font-size: 13px;
  background: white;
}

.history__header {
  font-size: 30px;
  margin-bottom: 30px;
}
.history__element {
  color: red;
  font-size: 30px;
  display: inline;
}
.history__paragraph {
  justify-content: center;
  text-align: center;
  line-height: 18px;
}
.history__border {
  margin-top: 40px;
  border-bottom: 3px solid yellow;
}
