form {

padding:40px 0 0 20px;
margin:30px;
color:rgb(73, 72, 70);
font-size:14px;
font-weight: bold;
background-color: rgb(195,171,34);
background: linear-gradient(0deg, rgba(195,171,34,1) 14%, rgba(228,253,45,0.9139005944174545) 65%);;
border: solid black 3px;
border-radius: 15px;
display:grid;

}

input {
    width: 70%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display:flex;
    align-items: center;
    margin-top:7px;
    
  }

  label {
    margin-top:5px;
    padding: 12px 12px 12px 0;
    margin-right:200px;
  }


  textarea {

    width: 70%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize:none;
    display:flex;
    margin-top:10px;

  }

  .button {
      width:150px;
      height:30px;
      margin-bottom:15px;
  }
  .check {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width:20px;
    margin-top:3px;
  }
  .check__label{
      display:flex;
  }
span {
  color:red;
  font-size:10px;
  display:block;
  padding: 5px 0 0 0;
}

.confirm {
  margin-bottom:20px;
  font-size:30px;
  color:rgb(29, 29, 29);
  
}