.formData {
  display: flex;
  justify-content: center;
}

.formApplication {
  padding-top:30px;
  width: 500px;
  margin: 50px;
  color: rgb(73, 72, 70);
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(195, 171, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 171, 34, 1) 14%,
    rgba(228, 253, 45, 0.9139005944174545) 65%
  );
  border: solid black 3px;
  border-radius: 15px;
}

.formApplication label {
  margin:30px 0 15px 30px;

}


.formApplication--input {
  width: 80%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin:7px 0px 15px 30px;
}


textarea {
  width: 80%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  display: flex;
  margin:10px 0px 0px 30px;
}

.approve {
  width: 150px;
  height: 30px;
  margin-bottom: 15px;
  outline: none;
  font-weight: bold;
  background-color: rgba(252, 251, 250, 0.801);
  border-radius: 5px;
  cursor: pointer;
  color: black;
  border: none;
  margin-left:30px;
}
.approve:hover {
  color: white;
  background: rgb(61, 61, 59);
  transition: all 0.3s ease-out;
}
.check {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 20px;
  margin-top: 3px;
}
.check__label {
  display: flex;
}
.formApplication span {
  color: red;
  font-size: 10px;
  display: block;
  padding: 10px 0 10px 0;
  margin-left:30px;
}

.approve__header {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(29, 29, 29);
}

@media (max-width: 800px) {
  form label {
    margin-right: 0px;
  }
}
