
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');




.home {
    font-family: 'PT Sans', sans-serif;
    display:flex;
    background:rgb(253, 255, 164);
    margin-bottom:20px;
    padding-bottom:10px;
    
}

article {
    background:rgb(241, 238, 6);
    border-radius:2%;
    padding:30px 15px 30px 30px;
    margin:0 20px 0 20px;
    width:300px;
}

