@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.home {
  font-family: "PT Sans", sans-serif;
  display: flex;
  background-color: white;
  margin: 0px 20px 80px 20px;
  padding-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.advices {
  background: rgb(255, 255, 253);
  border-radius: 2%;
  padding: 30px 15px 30px 30px;
  margin: 0 20px 0 20px;
  width: 300px;
  border: 3px black solid;
  transition: all 0.2s linear;
  &:hover {
    transform: scale(0.95);
  }
  &__header {
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 5px;
    &::after{
      content: "";
      display: inline-block;
      width: 2.6041666667vw;
      height: 0.2604166667vw;
      background: #ef002d;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__author {
    color: black;
    font-style: italic;
    padding: 10px 0 10px 0;
  }
  &__paragraph {
    margin-top:5px;
  }
}

@media (max-width: 700px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .advices {
    margin-bottom: 15px;
  }
}
