.history {
  margin: 70px 50px;
  font-size: 13px;
  background: white;
  &__header {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__element {
    color: red;
    font-size: 30px;
    display: inline;
  }
  &__paragraph {
    justify-content: center;
    text-align: center;
    line-height: 18px;
  }
  &__border {
    margin-top: 40px;
    border-bottom: 3px solid yellow;
  }
}
