.main {
  display: block;
  justify-content: center;
  flex-direction: row;
}
.main__header {
  display: flex;
  justify-content: center;
  margin: 50px 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.products__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  box-shadow: 0 0 5px grey;
}
.products__cost {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.products__name {
  display: flex;
  justify-content: center;
}

.products__wrapper {
  display: flex;
  flex-direction: center;
  justify-content: center;
}
.products__button {
  text-align: center;
  width: 100px;
  background: none;
  border: 1px solid black;
  border-radius: 10%;
  height: 40px;
  cursor: pointer;
}
.products__button:hover {
  background: rgb(175, 172, 172);
  transition: linear 0.5s;
}

.product__img {
  max-width: 200px;
  max-height: 200px;
}

.cart__box {
  background: rgb(201, 200, 200);
  position: fixed;
  right: 0px;
  top: 500px;
  height: 100px;
  border-radius: 7%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__icon {
  cursor: pointer;
}
.fas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__icon--number {
  margin-right: 5px;
  top: -11px;
  right: -13px;
  position: absolute;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  padding: 1px 1px;
  z-index: -1;
}

ul li a {
  text-decoration: none;
  color: black;
}

.add__cart {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #110e3b;
  border: 2px solid #000000;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  outline: none;
  height: 30px;
  padding: 0 5px 0 5px;
  margin-top:20px;
}
.add__cart:hover {
  color:white;
  background-color: #231d83;
}

@media(max-width:1280px) {
  .products {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width:960px) {
  .products {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width:650px) {
  .products {
    display:grid;
    grid-template-columns: 1fr;
  }
}