.details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.img__container {
  display: flex;
  min-width: 400px;
  margin: 20px;
  justify-content: center;
  box-shadow: 1px 1px 3px rgb(17, 17, 17);
  padding: 20px 0 20px 0;
  position: relative;
}

.img {
  min-width: 350px;
}

.box__details {
  max-width: 500px;
  width: 100%;
  margin: 20px;
  min-height: 250px;
  & h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(71, 68, 68);
    font-size: 2rem;
    padding-bottom: 15px;
    margin-top: 20px;
  }
  & h3 {
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(218, 92, 83);
  }
}

.taste {
  margin-top: 20px;
  &__button {
    border: 2px solid #555;
    outline: none;
    cursor: pointer;
    color: #555;
    margin-right: 5px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    margin: 20px 5px 0 0;
    &:hover {
      color: #ffffff;
      background-color: #555;
    }
  }
}

.add__button {
  cursor: pointer;
  margin-top: 40px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  color: #3cbabe;
  border: 2px solid #3cbabe;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  padding: 10px 25px;
  &:hover {
    background-color: #3cbabe;
    color: #ffffff;
    border-bottom: 2px solid #319598;
  }
}
@media (max-width: 890px) {
  .img__container {
    flex-direction: column;
    box-shadow: 1px 1px 3px rgb(17, 17, 17);
    min-width: 300px;
  }

  .box__details {
    margin: 0;
    & h2 {
      text-align: center;
    }
    & h3 {
      text-align: center;
    }
    & p {
      margin: 10px;
      text-align: center;
      margin: auto 20px;
    }
  }
  .img {
    min-width: 10px;
  }
  .taste {
    padding-top: 20px;
    display: flex;
    margin: auto 15px;
    justify-content: center;
    &__button {
      width: 100px;
    }
  }
  .add {
    justify-content: center;
    margin-top: 10px;
    display: flex;
  }
}

@media (max-width: 500px) {
  .taste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .add {
    display: flex;
    margin-top: 10px;
  }
}
