div.app {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(237, 240, 245);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.section_navigation {
  flex-basis: 15h;
}

header {
  flex-basis: 63vh;
}

main {
  background:#fefffb;
  flex-basis:80vh;
}
footer {
  flex-basis: 8vh;
}
