div.app {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(237, 240, 245);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.section_navigation {
  flex-basis: 13.8vh;
}

header {
  flex-basis: 61vh;
}

main {
  flex-grow: 1;
  flex-basis: 90vh;
  background:#fefffb;
}
footer {
  flex-basis: 8vh;
}
