



div.app {
  box-sizing:border-box;
  margin:0 auto;
  background-color: rgb(237, 240, 245);
  width:90%;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

aside {
flex-basis:7.4vh;
background-color:rgb(199, 226, 47)
}

header {

  flex-basis:61vh;
}

main{
flex-grow:1;
flex-basis:90vh;
}
footer {
  flex-basis:8vh;
}





